In [13]:
#1.program for adding two numbers with function
def sum(a,b):
    return a + b

num1 = 10
num2 = 5
sum_result = sum(num1,num2)
print(f"the sum of {num1} and {num2} is:{sum_result}")

the sum of 10 and 5 is:15

In [23]:
#2.program to add two number with flot oin python
def add_two_numbers(a,b):
    return a + b

a = float(input("Enter first number: "))
b = float(input("Enter second number: "))
result = add_two_numbers(a,b)
print("the sum is:",result)

Enter first number:  10.2
Enter second number:  3.50

the sum is: 13.7

In [29]:
#3.python program to find the maximum of two numbers

a = int(input("enter first number: "))
b = int(input("enter second number: "))
print("the maximum is:", max(a,b))

enter first number:  10
enter second number:  9

the maximum is: 10

In [31]:
#4.finding minimum number
a = int(input("enter first number: "))
b = int(input("enter second number: "))
print("the minimum is:", min(a,b))

enter first number:  10
enter second number:  9

the minimum is: 9

In [35]:
#5.with alphabets
a = input("enter the first number:")
b = input("enter the second number:")
print("the maximum is:",max(a,b))

enter the first number: a
enter the second number: z

the maximum is: z

In [39]:
#6.program to swap elements at given position
a = input("enter a=")
b = input("enter b=")
temp = a 
a = b 
b = temp
print("a=",a)
print("b=",b)

enter a= 2
enter b= 4

a= 4
b= 2

In [41]:
#7.program to find the size of tuples
tpl = (1, 2, 3, 4, 5)
print ("size of tuple:",len(tpl))

size of tuple: 5

In [49]:
#8.python nprogram to find factorial of given number
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)

n = int(input("enter a number:"))
print("The factorial is:",factorial(n))

enter a number: 5

The factorial is: 120

In [21]:
#9.python code to merg dict
dict_1 = {1: 'a', 2: 'b'}
dict_2 = {2: 'c', 4: 'd'}

print(dict_1 | dict_2)

{1: 'a', 2: 'c', 4: 'd'}

In [29]:
#10.program to find the size of tuples
tpl = (1,2,3,4,5,6)
print("size of tuples:",(tpl))

size of tuples: 21

In [5]:
#11.python code to find sum of elements in given array

arr = [1,2,3,4,5]
sum = 0
for i in arr:
    sum += i
print("sum of array elements:",sum)

sum of array elements: 15

In [11]:
#12. python program to find multiple of array elements
arr = [1,2,3,4,5,6]
mul = 1
for i in arr:
    mul *= i
print("multiple of array elements",mul)

multiple of array elements 720

In [26]:
#13.python program to find maximuim in arr[] of size

arr = [ 0,10,100,1000,20,200]
max = arr[0]
for i in arr:
    if i > max:
        max = i

print("maximum number in arry:",max)

maximum number in arry: 1000

In [40]:
#14.python program to find smallest number in arry

arr = [10,20,30,90]
min = arr[0]
for i in arr:
   if i < min:
       min = i
print("minimum value of arry:",min)

minimum value of arry: 10

In [48]:
#15.python program to find simple intrest for given principle amount,time and rate of intrest

def simple_intrest(p,t,r):
    return(p*t*r)/100

principle = float(input("enter the principle amount="))
time = float(input("enter time period (in years)="))
rate = float(input("enter the rate of intrest pre month="))

intrest = simple_intrest(principle,time,rate)
print("total intrest:",intrest)

enter the principle amount= 10000
enter time period (in years)= 1
enter the rate of intrest pre month= 500

total intrest: 50000.0

In [63]:

def simple_intrest(p,t,r):
    return(p*t*r)/100

pr = float(input("enter the rupees="))
rt = float(input("enter % of intrest ="))
ti = float(input("enter time period (in years)="))

netamount = simple_intrest(pr,rt,ti)
print("total payable amount is (with intrest):",netamount)

enter the rupees= 30000
enter % of intrest = 10
enter time period (in years)= 2

total payable amount is (with intrest): 6000.0

In [71]:
#16.find the length of a list using len[] function

lst = [1,2,3,4,5,6,7,8,9]
print("length oflist:", len(lst))

length oflist: 9

In [79]:
#17.python program to check whether element is present or not

lst = [1,2,3,4,5,6]
element = 2
if element in lst:
    print("element is present in the list")

else:
    print("element is not there in list")

element is present in the list

In [85]:
a = [10,20,30,40,50]
number = 40
if number in a:
    print("number is present")

else:
    print("number not present")

number is present

In [87]:
#18.python program to find area of triangle

base = float(input("enter the base of the triangle:"))
height = float(input("enter the base of the triangle:"))
area = 0.5 * base * height
print("the area of the triangle is:",area)

enter the base of the triangle: 10
enter the base of the triangle: 15

the area of the triangle is: 75.0

In [3]:
#19.python program to find area of circle

radius = float(input("enter the radius of circle ="))
area = 3.14 * radius * radius
print("the area of the circle is:",area)

enter the radius of circle = 24

the area of the circle is: 1808.6399999999999

In [35]:
#20.python program to adding elements of the matrix

matrix = [[1, 2, 3],[4, 5, 6], [7, 8, 9]]
sum = 0
for row in matrix:
    for element in row:
        sum += element

print("sum of the matrix:",sum)

sum of the matrix: 45

In [37]:
#21 python programs to transpose a matrix in single line
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
transpose = [[matrix[j][i] for j in range (len(matrix))]for i in range(len(matrix[0]))]

print("original matrix:")
for row in transpose:
    print(row)

print("transposed matrix:")
for roe in transpose:
    print(row)

original matrix:
[1, 4, 7]
[2, 5, 8]
[3, 6, 9]
transposed matrix:
[3, 6, 9]
[3, 6, 9]
[3, 6, 9]

In [41]:
#22.python program to reverse list

A = [1, 2, 3, 4, 5, 6]
A.reverse()
print("reversed list:",A)

reversed list: [6, 5, 4, 3, 2, 1]

In [60]:
#23.python program to insrtion at the beginning in orderedict

od = OrderedDict([('a', 1), ('b', 2),('c', 3)])
od.update({'d': 4})
od.move_to_end('d', last=False)
print("updated OrderdDict:",od)

updated OrderdDict: OrderedDict({'d': 4, 'a': 1, 'b': 2, 'c': 3})

In [103]:
#24.python program to check order of charcter in string using ordreddict

def check_order(string, pattern):
    od = OrderedDict.fromkeys(string)
    ptrlen = 0
    for key, value in od.items():
        if key == pattern[ptrlen]:
            ptrlen += 1
        if ptrlen == len(pattern):
                return True
        return False
print(check_order('hello' , 'll'))

False

In [117]:
#25.reverse words in a given string in python

def reverse_words(string):
    words = string.split()
    reversed_words = ' '.join(reversed(words))
    return reversed_words

string = "Hello world!"
reversed_string = reverse_words(string)
print(reversed_string)

world! Hello

In [123]:
#26.python for loop to iterate through the letters in a word

word = "Hello"
for letter in word:
    print (letter)

H
e
l
l
o

In [132]:
#27.python for loop using the range() function

for i in range(0, 6):
     print(i)

0
1
2
3
4
5

In [134]:
#28.python for loop to iterate through a list

lst= [1,2,3,4,5]
for element in lst:
    print(element)

1
2
3
4
5

In [140]:
#29.python for loop to iterate from dictionary

dict = {'a': 1, 'b': 2, 'c': 3}
for key,value in dict.items():
    print(key, value)

a 1
b 2
c 3

In [142]:
#30.using else statement inside a for loop in python

for i in range (0, 6):
    print(i)
else:
    print ("loop finished")

0
1
2
3
4
5
loop finished

In [144]:
#31.nested for loops in python (one loop inside another loop)
for i in range(1,5):
    for j in range(1,5):
        print(i, j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4